loki:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
    storageClassName: longhorn
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 200m
      memory: 500Mi

promtail:
  enabled: true
  extraScrapeConfigs: []
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 200m
      memory: 500Mi

grafana:
  enabled: true
  persistence:
    enabled: true
    size: 5Gi
    storageClassName: longhorn
  sidecar:
    datasources:
      enabled: true
      searchNamespace: ALL
    dashboards:
      enabled: true
      searchNamespace: ALL
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 200m
      memory: 500Mi

prometheus:
  enabled: true
  server:
    persistentVolume:
      enabled: true
      size: 15Gi
      storageClassName: longhorn
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      cpu: 200m
      memory: 500Mi
  extraScrapeConfigs: |
    - job_name: 'danuri-backend-prod'
      metrics_path: '/actuator/prometheus'
      scrape_interval: 5s
      static_configs:
        - targets: ['danuri-backend.danuri-prod.svc.cluster.local:8081']
    - job_name: 'danuri-backend-stage'
      metrics_path: '/actuator/prometheus'
      scrape_interval: 5s
      static_configs:
        - targets: ['danuri-backend.danuri-stage.svc.cluster.local:8081']
