## Grafana configuration
grafana:
  enabled: true
  persistence:
    enabled: true
    type: sts
    storageClassName: "longhorn"
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    annotations:
      longhorn.io/number-of-replicas: "1"
    finalizers:
      - kubernetes.io/pvc-protection

## Prometheus configuration
prometheus:
  enabled: true
  prometheusSpec:
    ## Retention configuration
    retention: 20d
    retentionSize: "15GiB"

    ## Storage configuration
    storageSpec:
      volumeClaimTemplate:
        metadata:
          annotations:
            longhorn.io/number-of-replicas: "1"
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 15Gi

    ## Additional scrape configurations from external secret
    additionalScrapeConfigsSecret:
      enabled: true
      name: prometheus-additional-scrape-configs
      key: prometheus-additional.yaml
